body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar{
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom:1px solid #f2f2f2 ;
}

.navbar h1{
  color: #f1356d;
  cursor: pointer;
}
.navbar .links{
  margin-left: auto;
} 
.navbar a{
  margin-left: 16px;
  text-decoration: none;
  padding: 60px;
}
.content{
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
} 
.blog-preview{
  padding: 16px 10px;
  margin: 20px auto ;
  border-bottom: 1px solid #f2f2f2;
} 
.blog-preview :hover{
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.blog-preview h2{
  margin-bottom: 8px;
  color: #f1356d;
  font-size: 20px;

}